:root {
    --pry-bg-clr: #0c234d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
    user-select: none;
    color: #fff;
    font-size: 100%;
}
button, input, select {
    background-color: transparent;
    border: 0;
    outline: none;
    transition: .2s;
}
button, select {
    cursor: pointer;
}
button.ui {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}
#athr, #prof_btns, button.ui, .hdr, .bdy {
    display: flex;
}
#athr, .bdy {
    flex-direction: column;
}
#athr, button.ui, .hdr, .bdy {
    align-items: center;
}
#athr, button.ui {
    justify-content: center;
}
body {
    background-color: var(--pry-bg-clr);
}
#top {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-rows: 35% 65%;
}
#bottom {
    display: none;
    transform: translateY(10vh);
}
#athr {
    gap: 1em;
}
#athr > * {
    font-weight: 300;
}
#athr > p {
    scale: 1.7;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#athr > p > span {
    letter-spacing: 2px;
    text-transform: lowercase;
}
#athr > p > span:first-letter {
    font-style: italic;
    font-weight: 500;
    color: #ffa500;
}
#prof_btns {
    padding: 1em;
    align-items: flex-start;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
}
#prof_btns > button {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 24px;
    display: grid;
    grid-template-rows: 60% 40%;
    border: 1px solid #fff3;
    position: relative;
}
#prof_btns > button:hover > ion-icon {
    scale: 3;
}
#prof_btns > button::after {
    content: attr(data-mgr);
    position: absolute;
    right: .5em;
    top: .5em;
    height: 1em;
    width: 1em;
    padding: .5em;
    line-height: 1;
    border-radius: 2em;
    background-color: #fff;
    color: var(--pry-bg-clr);
    font-weight: 500;
}
#prof_btns > button > * {
    align-self: center;
    justify-self: center;
}
#prof_btns > button > ion-icon {
    scale: 2;
    transition: .2s;
}
#prof_btns > button > div {
    opacity: .5;
}
#lodr {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
}
#lodr::after {
    content: '';
    height: 27px;
    width: 27px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #fff #0003 #0003 #0003;
    animation: spin 1s linear infinite forwards;
}
@keyframes spin {
    100% {
        rotate: z 360deg;
    }
}
[popover], #lodr {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0008;
    outline: none;
    border: 0;
}
[popover] > .wrp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.wrp {
    width: 400px;
    padding: 1em;
    background-color: var(--pry-bg-clr);
}
.wrp > *,
.wrp > * {
    padding: 1em;
}
.hdr {
    justify-content: space-between;
}
.wrp > .hdr > button.ui {
    rotate: z 45deg;
    background-color: #5555;
}
.bdy {
    gap: .5em;
}
#img {
    height: 8em;
    width: 8em;
    border-radius: 8px;
    border: 1px solid #fff3;
    background-repeat: no-repeat;
    background-image: url('../../person.svg');
    background-position: center;
    background-size: cover;
}
button#file {
    padding: .5em 0;
    width: 40%;
    background-color: #2d5295;
    border-radius: 8px;
}
button#file + small {
    font-size: 80%;
    opacity: .7;
}
button#submit_file {
    margin: 2em 0 1em;
    width: 80%;
    padding: 1em;
    border-radius: 8px;
    background-color: #006f59;
}
#verify > .wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding: 2em;
}
.wrp > ion-icon {
    scale: 2;
}
form#vfy {
    width: 100%;
    margin: 3em 0 1em;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
}
form#vfy * {
    color: #333;
}
form#vfy > input {
    flex: 1;
    padding: 1em;
}
form#vfy > button,
.fmi > button:not(#create) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    aspect-ratio: 1/1;
    border-left: 1px solid #ccc;
}
form#vfy > button > ion-icon,
.fmi > button:not(#create) > ion-icon {
    scale: 1.5;
}
#verify > .wrp > button {
    width: 100%;
    padding: 1em;
    margin: .5em 0;
    border-radius: 8px;
    font-weight: 500;
}
button[form="vfy"] {
    background-color: #006f59;
}
button[form="vfy"]:hover {
    opacity: .8;
}
.bdy > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 1em;
}
form > .fmi:not(:last-of-type) {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #fff;
    position: relative;
}
form > .fmi::after {
    content: attr(data-fd);
    position: absolute;
    left: 0;
    bottom: 100%;
    opacity: .5;
}
.fmi > input, .fmi > select {
    flex: 1;
    padding: .5em;
}
.fmi > button:not(#create) {
    border: 0;
}
.fmi > button#create,
.fmi > button#update {
    display: block;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    background-color: #006f59;
}
#note > div {
    width: 350px;
    margin: 1em auto;
    padding: 1.3em 2em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1.5em;
    background-color: #fff;
}
#note > div > * {
    color: #333;
    font-weight: 500;
}
#note > div > ion-icon {
    color: #f00;
}
.eyed > * {
    pointer-events: none;
}
@media (width <= 412px) {
    .wrp {
        height: 100%;
        width: 100%;
        padding: 0;
    }
}