.td:hover, .td.on, .gears > .g0 > button:hover, .g1 > div:hover, #newgear > div, #newpaye > div, .fdset {
    background-color: #0003;
}
aside:nth-child(1), .gears, .td {
    display: grid;
}
aside:nth-child(1) {
    grid-template-rows: minmax(3em, auto) 1fr;
    overflow: hidden;
}
#pages {
    padding: 0 1em;
    position: relative;
}
#pages > button {
    display: inline-block;
    padding: 12px 24px;
    opacity: .7;
    transition: color .2s;
}
/* #pages > button:hover,
#pages > button.on {
    color: var(--pry-bg-clr);
} */
#pages > button.on {
    font-weight: 500;
}
#slider {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--pry-bg-clr);
    width: 0;
    transition: .2s;
}
#content {
    padding: 2em 0;
    overflow-y: auto;
}
.td {
    padding: 1em;
    grid-template-columns: 50% 10% 20% 20%;
    align-items: center;
    opacity: .9;
}
.td > * {
    pointer-events: none;
}
.td > span:nth-child(1) {
    position: relative;
    text-align: left;
    padding-left: 6em;
}
.td > span:nth-child(1)::after {
    content: attr(data-abbr);
    position: absolute;
    left: 2em;
    display: grid;
    place-items: center;
    top: 50%;
    transform: translateY(-50%);
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: #0003;
    font-weight: 500;
}
.bg0::after {
    background-color: #663399 !important;
}
.bg1::after {
    background-color: #b8860b55 !important;
}
.bg2::after {
    background-color: #b8860b !important;
}
.bg3::after {
    background-color: #1a73e8 !important;
}
.bg4::after {
    background-color: #1a73e855 !important;
}
.bg5::after {
    background-color: #009578 !important;
}
.bg6::after {
    background-color: #006f59 !important;
}
.bg7::after {
    background-color: #ffa500 !important;
}
#board {
    background-color: #0005;
    width: 1000px;
    position: relative;
}
#board::after {
    position: absolute;
    left: 50%;
    top: 1em;
    transform: translate(-50%,0);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #fff9 #fff6 #fff3 #fff1;
    z-index: 1;
    animation: 1s linear infinite forwards;
}
#board.on::after {
    content: '';
    animation-name: turner;
}
@keyframes turner {
    100% {
        transform: translate(-50%, 0) rotate(360deg);
    }
}
#board > div:not(:nth-child(2)) {
    padding: 1em;
}
#board > div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2em;
    row-gap: 1em;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
#board > div:nth-child(1) > span {
    flex-basis: 50%;
    margin-right: auto;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#board > div:nth-child(1) > button:nth-of-type(2) {
    width: 100px;
    display: flex;
    align-items: center;
    gap: .7em;
    padding: .7em 1em;
    border-radius: 2em;
    background-color: #ffa50077;
}
#board > div:nth-child(1) > button:nth-of-type(2) > ion-icon {
    rotate: z -90deg;
}
#board > div:nth-child(1) > button:not(:nth-of-type(2)):hover {
    background-color: #fff1;
}
#mnth, #earded {
    height: fit-content;
    width: fit-content;
    box-shadow: 0 7px 14px #5553;
    border-radius: 16px;
}
menu {
    list-style: none;
}
#mnth {
    background-color: #ffa50055;
}
#earded {
    border: 1px solid #fff2;
}
#earded > menu > div {
    padding: .5em 2em;
    opacity: .5;
    border-bottom: 1px solid #fff3;
}
#mnth > menu {
    height: 330px;
}
#mnth > menu > li, #earded > menu > li {
    cursor: pointer;
    position: relative;
}
#mnth > menu > li::after,
#earded > menu > li::after {
    position: absolute;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    width: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
}
#mnth > menu > li.on::after,
#earded > menu > li.on::after {
    content: '';
}
#mnth > menu > li:hover,
#mnth > menu > li.on,
#earded > menu > li:hover,
#earded > menu > li.on {
    background-color: #0005;
}
#mnth > menu > li,
#earded > menu > li > button {
    width: 100%;
    padding: .7em 2em;
    text-align: left;
}
#board > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
    padding: 2em;
    position: relative;
}
#board > div:nth-child(2)::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 100%;
    background-color: #fff3;
}
#board > div:nth-child(2) > button {
    flex: 1 0 50%;
    padding: 1em;
}
#board > div:nth-child(2) > div {
    flex: 1;
    padding: 0 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
#board > div:nth-child(2) > div > span:nth-child(even) {
    justify-self: right;
}
#board > div:nth-child(2) > div > span:nth-child(odd) {
    opacity: .7;
}
#board > div:nth-child(3) {
    margin: 2em;
    text-align: center;
}
#board > div:nth-child(3) > small {
    display: block;
    padding: .7em 0;
    opacity: .7;
    font-weight: 200;
}
#board > div:nth-child(3) > small > span {
    font-weight: 500;
    font-size: 110%;
}
.gears {
    width: 50%;
    margin: .5em auto 2.5em;
    grid-template-rows: minmax(2em, auto) 0fr;
    border-radius: 14px;
    border: 1px solid #fff1;
    background-color: #0002;
    box-shadow: 0 7px 18px #0005;
    overflow: hidden;
    transition: .3s;
}
.gears:has(.g0 > input:checked) {
    grid-template-rows: minmax(2em, auto) 1fr;
}
.gears > .g0 {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
    cursor: pointer;
}
.gears > .g0 > span {
    padding: 1em;
    border-bottom: 2px solid #1a73e8;
    opacity: .7;
}
.gears > .g0 > button,
#board > div:nth-child(1) > button:not(:nth-of-type(2)) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
}
.gears > .g0 > button {
    margin-left: auto;
    opacity: .7;
}
.gears > .g0 > ion-icon {
    rotate: z -90deg;
}
label > input {
    display: none;
}
.g1 {
    overflow: hidden;
}
.g1 > div {
    position: relative;
    transition: .2s;
}
.g1 > div:not(:last-of-type) {
    border-bottom: 1px solid #fff1;
}
.g1 > div > button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em 1em 1em 2em;
    opacity: .8;
}
.g1 > div > button > ion-icon {
    opacity: .7;
    rotate: z 180deg;
}
.g1 > div > button > span {
    text-align: left;
    width: 50%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.toggle {
    display: none;
}
.toggle + label {
    position: absolute;
    right: 3em;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 1em;
    border: 1px solid #fff3;
    cursor: pointer;
    transition: background-color .2s .5s;
}
.toggle + label::after, .toggle + label::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.toggle + label::after {
    content: '';
    left: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--pry-bg-clr);
    box-shadow: 0 3px 8px #0005;
    transition: left .2s;
}
.toggle + label::before {
    content: 'OFF';
    left: -50px;
    padding: 0 .5em;
    text-align: center;
    font-size: 80%;
    opacity: .7;
    pointer-events: none;
}
.toggle:checked + label {
    background-color: #f3f3f3;
}
.toggle:checked + label::after {
    left: 30px;
}
.toggle:checked + label::before {
    content: 'ON';
}
#popgear::backdrop, #delgear::backdrop {
    background: #0005;
    backdrop-filter: blur(5px);
}
#popgear, #delgear {
    margin: auto;
    width: 320px;
    height: 220px;
    border-radius: 14px;
    background-color: #0005;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
#popgear > *, #delgear > * {
    padding: 1em 2em;
    font-weight: 200;
}
#popgear > p, #delgear > p {
    flex: 1;
}
#popgear > div:nth-of-type(2),
#delgear > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    padding: 0;
    column-gap: 2px;
}
#popgear > div:nth-of-type(2) > button,
#delgear > div:nth-of-type(2) > button, .nghd + form > button {
    flex: 1;
    padding: 1em 0;
    background-color: #66339955;
    font-weight: 500;

    &:hover {
        background-color: #663399;
    }
}
#newgear > div, #newpaye > div {
    padding: 1em;
    width: 350px;
    border-radius: 14px;
    overflow: hidden;
}
.nghd, .nghd > button {
    display: flex;
    align-items: center;
}
.nghd {
    gap: 1em;
}
.nghd > button {
    margin-left: auto;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.nghd + form {
    margin: 2em 0 0;
    padding: 1em;
}
.fdset {
    position: relative;
    border-radius: 5px;
    margin: 1em 0;
    overflow: hidden;
}
.fdset:has([readonly]) {
    opacity: .5;
}
::placeholder {
    color: #f3f3f3;
}
.fdset > select, .fdset > input {
    appearance: none;
    -webkit-appearance:none;
    padding: .7em 1em;
    background-color: #384357;
    color: #ccc;
}
.fdset > *:nth-child(1) {
    display: block;
    width: 100%;
}
.fdset > ion-icon {
    position: absolute;
    top: 50%;
    right: .7em;
    transform: translateY(-50%) rotate(-90deg);
    opacity: .8;
}
.nghd + form > button {
    margin: 1em 0;
    width: 100%;
    border-radius: 5px;
}
#join {
    width: 320px;
    background-color: #0005;
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
    padding: 2em;
    border-radius: 16px;
}
#join > * {
    font-size: 110%;
}
#join > ion-icon {
    transform: scale(2);
    color: #5ca3ff;
}
#join > p {
    padding: 2em 0;
    opacity: .5;
    font-weight: 300;
}
#join > div {
    text-align: center;
}
#join > div > button {
    padding: .7em;
    border-radius: 24px;
    font-weight: 500;
    width: 100px;
    margin: 0 5px;
    border: 1px solid transparent;
}
#join > div > button:hover {
    border-color: #5ca3ff;
}
.mq {
    display: none !important;
}
@media (width <= 480px) {
    ::-webkit-scrollbar, .resp {
        display: none !important;
    }
    .mq {
        display: flex !important;
    }
    #pages {
        text-wrap: nowrap;
        overflow-x: auto;
        transition: .5s;
    }
    #pages > button {
        padding: 8px 16px;
    }
    #pages.off {
        height: 0;
    }
    #content {
        padding: 0;
    }
    .td {
        grid-template-columns: 40% 1fr 10%;
        column-gap: .3em;
        position: relative;
    }
    .td > span {
        text-align: left;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .td > span:nth-child(1) {
        position: static;
        padding-left: 4em;
        grid-column: span 2;
    }
    .td > span:nth-child(1)::after {
        left: 1em;
    }
    .td > span:nth-child(2) {
        text-align: right;
        grid-row: span 2;
    }
    .td > span:nth-child(3) {
        padding-left: 4em;
    }
    .td > span:nth-child(n + 2) {
        opacity: .5;
    }
    #board {
        height: 100%;
        overflow: auto;
    }
    #board > div:nth-child(1) {
        column-gap: 1em;
        row-gap: 2em;
        font-size: 80%;
    }
    #board > div:nth-child(1)::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 50%;
        height: 1px;
        background-color: #fff3;
    }
    #board > div:nth-child(1) > button:nth-of-type(1) {
        margin-right: auto;
    }
    #board > div:nth-child(1) > span {
        flex-basis: 80%;
        order: 1;
        margin: 0 auto;
        text-align: center;
        text-wrap: wrap;
    }
    #board > div:nth-child(2) > * {
        flex: 1 0 100% !important;
        margin: 0;
    }
    #board > div:nth-child(2) > button {
        pointer-events: none;
        font-weight: 100;
    }
    #board > div:nth-child(2) > button::after {
        display: none;
    }
    #board > div:nth-child(2) > button:nth-of-type(2),
    #board > div:nth-child(2) > div:nth-of-type(2) {
        order: 1;
    }
    #board > div:nth-child(2) {
        row-gap: 1em;
        padding: 2em 0;
    }
    #board > div:nth-child(2)::after {
        display: none;
    }
    #board > div:nth-child(2) > * {
        padding: 0 1em !important;
    }
    .gears {
        margin: 2em 0;
        width: 100%;
    }
}
/* @media (width >= 480px) and (width < 1024px) {
    #board > div:nth-child(1) {
        font-size: 100%;
        padding: 2em;
    }
} */