* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    color: #fff;
    font-size: 105%;
    scroll-behavior: smooth;
}
:root {
    --pry-bg-clr: #2d5295;
}
a {
    text-decoration: none;
}
a, button {
    cursor: pointer;
}
a, button, input {
    outline: none;
    border: 0;
    background-color: transparent;
    transition: .2s;
}
header, #athr, #ttl, #bkbtn, #athr + div {
    display: flex;
}
header, #ttl {
    flex-wrap: wrap;
}
header, #athr, #ttl, #bkbtn, #athr + div {
    align-items: center;
}
#ttl, #bkbtn, #athr + div {
    justify-content: center;
}
body {
    background-color: var(--pry-bg-clr);
}
#athr + div {
    gap: 1em;
    padding: 1em;
}
header {
    justify-content: space-between;
    gap: 1em;
    padding: 0 2em;
}
#athr {
    scale: 1.1;
    flex-direction: column;
}
#athr > span {
    letter-spacing: 1px;
}
#athr > span:first-letter,
#ttl > span:nth-child(2) > span:first-letter {
    font-style: italic;
    color: #ffa500;
    font-weight: 500;
}
#athr + div {
    margin-right: 1em;
}
#athr + div > * {
    font-size: 90%;
    width: 100px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    border-radius: 24px;
}
#athr + div > *:hover {
    background-color: #fff;
    color: var(--pry-bg-clr);
}
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
section:nth-child(1) {
    font-size: 1.3em;
}
section:nth-of-type(2) {
    justify-content: flex-start;
    font-size: .7em;
    padding-top: 7em;
}
.pllx {
    text-align: center;
    animation: fade-scale linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes fade-scale {
    from {
        scale: 0.5;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}
#ttl > span:nth-child(1) {
    opacity: .7;
}
#ttl > span:nth-child(2)  {
    flex: 1 0 100%;
    font-size: 2em;
    font-weight: 500;
    gap: .2em;
    line-height: 1;
}
.cloud > ion-icon {
    scale: 1.5;
}
#feature, #ttl > span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}
#feature {
    flex-wrap: wrap;
    column-gap: 1em;
    font-weight: 300;
}
#sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7em;
    background-color: var(--pry-bg-clr);
    z-index: 1;
}
#progress {
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30%;
    background-color: #fff3;
}
#progress > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center top;
    height: 3em;
    width: 3em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--pry-bg-clr);
    font-weight: 500;
    font-size: 1em;
    border: 2px solid;
    border-color: #fff3;
    transition: .2s;
}
#progress > span:has(.step.x) {
    border-color: #fff;
    scale: 1.3;
}
#progress > span:nth-child(1) {
    right: 100%;
}
#progress > span:nth-child(2) {
    left: 33.9%;
}
#progress > span:nth-child(3) {
    left: 66.9%;
}
#progress > span:nth-child(4) {
    left: 100%;
}
.step {
    opacity: 0;
    width: max-content;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -100%) scale(.8);
    padding: 12px 14px;
    border-radius: 8px;
    background-color: #173263;
    transition: opacity .3s .3s;
}
.step::after {
    content: '';
    position: absolute;
    top: calc(100% - 5px);
    left: 50%;
    transform: translateX(-50%) rotate(-135deg);
    border: 5px solid;
    border-color: #173263 transparent transparent #173263;
}
.step.x {
    opacity: 1;
}
.stp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.plans {
    padding: 3em 5em;
    border: solid #fff3;
    border-width: 0 1px 0 0;
    display: flex;
    flex-direction: column;
    gap: 3em;
    position: relative;
}
.plans:last-of-type {
    border: 0;
}
.plans > h3 {
    font-size: 1.5em;
    font-weight: 400;
}
.plans > ul > li {
    text-align: left;
    margin: 5px 0;
}
.price > div {
    margin: .5em 0;
}
.price > div > span {
    font-weight: 500;
    font-size: 150%;
}
.aster, .negot {
    width: 170px;
    margin: auto auto 0;
    padding: 14px 18px;
    display: block;
    border-radius: 24px;
    position: relative;
    background-color: #173263;
}
.aster:hover > ion-icon {
    opacity: 1;
}
.aster > ion-icon {
    position: absolute;
    opacity: 0;
    color: #ffff00;
    transition: .3s;
}
.aster:hover > ion-icon:nth-of-type(1) {
    rotate: z -10deg;
}
.aster:hover > ion-icon:nth-of-type(2) {
    rotate: z 10deg;
}
.aster > ion-icon:nth-of-type(1) {
    bottom: -1em;
    right: -1em;
    rotate: z 10deg;
}
.aster > ion-icon:nth-of-type(2) {
    top: -1em;
    left: -1em;
    rotate: z -10deg;
}
.info > button, .bank > button {
    margin: 2em auto;
    width: 120px;
}
.pllx:has(.info),
.pllx.bank,
.pllx.confm {
    width: 350px;
    margin: 0 auto;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.info > input {
    padding: 14px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
}
#bkbtn {
    position: absolute;
    left: 3em;
    top: 3em;
    height: 3em;
    width: 3em;
    scale: 1.3;
    border-radius: 50%;
    z-index: 1;
    background-color: #0003;
}
.pllx.bank,
.confm > div > span:nth-child(odd) {
    text-align: left;
}
.pllx.bank {
    width: 500px;
}
.bank > * {
    margin: 1em 0;
}
.bank > p > i {
    font-style: normal;
    font-size: 120%;
    font-weight: 500;
    margin-left: .5em;
}
div#form {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em 0;
}
#file {
    width: 8em;
    aspect-ratio: 3/4;
    border: 1px solid #fff3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#file + div {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: flex-start;
    padding: 1em 0;
}
button.open {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #663399;
    box-shadow: 0 8px 24px #0005;
}
button.open:hover {
    background-color: #512979;
}
button.open + span {
    font-size: 90%;
}
.confm > div {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 2em;
}
.confm > div > span:nth-child(odd) {
    opacity: .7;
}
.confm > div > span:nth-child(even) {
    justify-self: flex-end;
    font-weight: 500;
    font-size: 110%;
}
.confm > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 77%;
    margin: 5em auto;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 105%;
    background-color: #006f59;
    box-shadow: 0 8px 24px #0003;
}
.confm > button > ion-icon {
    display: none;
    scale: 1.2;
}
.confm > button:hover > ion-icon {
    display: initial;
    opacity: 1;
}
.confm > button:hover {
    background-color: #027d64;
}
section:nth-of-type(2) > .pllx {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 20em;
    left: 50%;
    transform: translate(-50%, 20px);
    transition: .2s;
}
.stp {
    width: 100%;
}
section:nth-of-type(2) > .pllx.on {
    visibility: visible;
    transform: translate(-50%, 0);
    pointer-events: all;
}
::backdrop {
    background-color: #0003;
    backdrop-filter: blur(5px);
}
[popover] {
    outline: none;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#lodr::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #fff #fff3 #fff3 #fff3;
    animation: spin 1s linear infinite backwards;
}
#lodr:popover-open::after {
    content: '';
}
/* #success {
    background-color: #0003;
} */
#success:popover-open,
#login:popover-open,
#premium:popover-open,
#load:popover-open {
    display: flex;
    align-items: center;
    justify-content: center;
}
#success > div {
    display: grid;
    grid-template-rows: 50px repeat(4, auto);
    place-items: center;
    gap: 1em;
    background-color: #0008;
    font-size: 80%;
    padding: 2em;
    box-shadow: 0 8px 24px #0007;
}
#bkpr > div {
    margin: 1em;
    text-align: center;
}
#success > div.on > div#bkpr > div > #cde {
    display: none;
}
#success > div > ion-icon {
    scale: 2;
    color: #7cfc00;
}
#bkpr {
    opacity: .7;
}
p#sc {
    font-size: 150%;
    color: #7cfc00;
    font-weight: 500;
}
#cde {
    width: fit-content;
    margin: 1em auto 0;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 2px dashed #fff7;
}
#cde > * {
    padding: 1em;
}
#cde > code {
    letter-spacing: 2px;
    font-weight: 500;
}
#cde > button {
    background-color: #5557;
}
#crew {
    opacity: .5;
}
#crew + button {
    width: 150px;
    margin: 1em 0 0;
    padding: 1em;
    font-weight: 500;
    border-radius: 36px;
    border: 1px solid #fff3;
}
#note {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em 1.4em;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 5px;
    background-color: #0009;
    box-shadow: 0 8px 24px #0003;
    transition: .3s;
    z-index: 1;
}
#note.on {
    top: 24px;
}
#note > ion-icon {
    color: #ff4500;
}
#note > span {
    font-size: 80%;
}
#login > form {
    width: 370px;
    display: grid;
    grid-template-rows: minmax(48px, auto) 1fr .5fr;
    align-items: center;
    font-size: 85%;
    background-color: #0008;
    aspect-ratio: 3/4;
    border-radius: 13px;
}
#login > form > * {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}
#topper {
    gap: 1em;
    align-items: center;
}
#topper > button {
    margin-left: auto;
    height: 2.5em;
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#topper > button:hover {
    background-color: #0003;
}
#middly {
    flex-direction: column;
    margin: 0 1em;
    gap: 2em;
}
.gp {
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #fff5;
    padding: 0 1em;
}
.gp > ion-icon {
    height: 1.3em;
    width: 1.3em;
    opacity: .7;
}
.gp > input {
    flex: 1;
    padding: 16px;
    font-size: 80%;
}
.gp > button {
    height: 1.5em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#downy {
    justify-content: center;
}
#downy > button {
    width: 80%;
    padding: 14px;
    border-radius: 27px;
    background-color: #00957888;
    transition: background-color .2s;
}
#downy > button:hover {
    background-color: #009578;
}
#premium > form {
    width: 350px;
    padding: 2em;
    background-color: #0008;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0 8px 24px #0006;
    border-radius: 14px;
    font-size: 80%;
}
#premium > form > div {
    margin-bottom: 2em;
}
#premium > form > input {
    padding: 1em 1.4em;
    border-radius: 5px;
    background-color: #0003;
}
#premium > form > input[type="submit"],
#premium > form > input[type="button"] {
    padding: 1em;
    cursor: pointer;
    font-weight: 500;
}
#premium > form > input[type="submit"] {
    background-color: #009578;
    margin: 1em 0 0;
}
#premium > form > input[type="button"] {
    background-color: transparent;
}
#load > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
#load > div > div:not(#bar) {
    padding: .3em;
    font-size: 80%;
    display: flex;
    align-items: center;
    gap: .3em;
}
#load div > span:nth-child(2)::first-letter {
    color: #ffa500;
    font-style: italic;
    font-weight: 500;
    font-size: 110%;
}
#bar {
    --bar-wdh: 20%;
    position: relative;
    width: 200px;
    height: 2px;
    border-radius: 10px;
    background-color: #0007;
    overflow: hidden;
}
#bar::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--bar-wdh);
    background-color: #fff;
    transition: width .5s;
}
@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@media (width <= 768px) {
    .plans {
        flex: 1 0 50%;
    }
}
@media (width < 412px) {
    #athr + div {
        flex: 1 0 100%;
    }
    #athr + div > * {
        box-shadow: 0 8px 24px #0003;
    }
    section {
        font-size: 1em;
    }
    section:nth-of-type(2) {
        height: 100vh;
        overflow: auto;
        padding-top: 0;
        transform: translateY(3em);
    }
    section > div {
        width: 80%;
        margin: 0 auto;
    }
    #sticky {
        height: 15em;
    }
    #bkbtn {
        height: 2em;
        width: 2em;
        position: sticky;
        top: 1em;
        left: 1em;
        /* background-color: #0003; */
    }
    #progress {
        width: 80%;
        bottom: 25%;
    }
    #progress > span {
        height: 2em;
        width: 2em;
    }
    .step {
        top: -1em;
    }
    span:first-of-type > .step {
        left: calc(100% + 1em);
    }
    span:first-of-type > .step::after {
        left: 1em;
    }
    span:last-of-type > .step {
        left: -.5em;
    }
    span:last-of-type > .step::after {
        left: calc(100% - 1em);
    }
    .plans {
        border-width: 0 0 1px 0;
        flex-basis: 100%;
    }
    .pllx:has(.info), .pllx.bank, .pllx.confm {
        width: 90%;
    }
    #note {
        width: 95%;
    }
    #note.on {
        top: 48px;
    }
    #login > form {
        scale: .9;
    }
}